#header {
  font-family: 'Raleway', sens-self;
  width: 1750px 100%;
  height: 280px;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 90px; }
  #header #header_top {
    display: inline;
    font-size: 14px;
    padding-bottom: 15px;
    border-bottom: 1px solid black; }
    #header #header_top #shopping_car {
    float: right;
    width: 20px;
    height: 20px; }
      #header #header_top #instagram {
        float: right;
        width: 20px;
        height: 20px;
        margin-right: 50px;
        object-fit: cover; }
          #header #header_top #facebook {
            float: right;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            object-fit: cover; }
              #header #header_top #contacts {
                border-bottom: 1px solid black; }
                #header #header_top #contacts #main-text {
                  position: relative;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0; 
                  color: black; }
                  #header #header_top #contacts #main-text:hover {
                    text-decoration: none; }
                    #header #header_top #contacts #number {
                      font-family: 'Raleway';
                      padding-left: 2em;
                      display: inline-flex; }
                      #header #header_top #contacts #email {
                        font-family: 'Raleway';
                        display: inline-flex; }

#header #header_bottom{
  max-width: 1290px;
  width: 100%;
  height: 180px;
  display: flex; }
  #header #header_bottom #logo {
    margin-top: 25px; }
    #header #header_bottom #logo img {
      object-position: 50% 50%;
      width: 160px;
      height: 160px; }
      #header #header_bottom #logo #main-text a{
        font-size: 22px;
        margin-top: -80px;
        font-family: 'Playfair Display';
        color: black; }
        #header #header_bottom #logo #main-text a:hover {
          text-decoration: none; }
          #header #header_bottom #logo p {
            line-height: 30px;
            margin-top: -80px;
            margin-left: 165px;
            font-size: 15px;
            font-family: 'Raleway', sans-serif; }


/********************************** Header Bottom **********************************/

#header #navigator {
  float: right;
  margin-top: -92px; }
  #header #navigator #links {
    display: inline-flex; }
    #header #navigator #links li {
      padding: 0 10px; }
      #header #navigator #links li a {
        color: black;
        font: 14px 'Raleway', sens-self; }
        #header #navigator #links li a:hover {
          text-decoration: none; }
          #header #navigator #links li #call {
            margin-left: 5px;
            padding: 13.5px 20px;
            border: 1px solid black; }
            #header #navigator #links li #call:hover {
              background-color: black;
              color: white;
              transition: 0.5s; }