.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show More';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show Less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  border: 2px solid black;
  padding: 11px 16px;
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  background-color: white;
  text-align: center;
  margin-left: 46.5%;
}

.read-more-trigger:hover {
  background-color: black;
  color: white;
  transition: 0.2s;
}